@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Jost:wght@300;500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* react-dropdown */
.Dropdown-root {
  display: flex;
  flex-flow: column;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}

.Dropdown-option,
.Dropdown-placeholder {
  cursor: pointer;
  font-family: Jost;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.25;
}

.Dropdown-option {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 8px;
}

.Dropdown-placeholder {
  color: rgba(255, 255, 255);
}

.Dropdown-option.is-selected {
  color: #0984e3;
}
